In [ ]:
for count in range(97, 123):
	print("{}".format(chr(count)), end="")

abcdefghijklmnopqrstuvwxyz

In [ ]:
for count in range(97, 123):
  if count != 113 and count != 101:
    print("{}".format(chr(count)), end="")

abcdfghijklmnoprstuvwxyz

In [ ]:
for count in range(0, 99):
  print("{} = {}".format(count, hex(count)))

0 = 0x0
1 = 0x1
2 = 0x2
3 = 0x3
4 = 0x4
5 = 0x5
6 = 0x6
7 = 0x7
8 = 0x8
9 = 0x9
10 = 0xa
11 = 0xb
12 = 0xc
13 = 0xd
14 = 0xe
15 = 0xf
16 = 0x10
17 = 0x11
18 = 0x12
19 = 0x13
20 = 0x14
21 = 0x15
22 = 0x16
23 = 0x17
24 = 0x18
25 = 0x19
26 = 0x1a
27 = 0x1b
28 = 0x1c
29 = 0x1d
30 = 0x1e
31 = 0x1f
32 = 0x20
33 = 0x21
34 = 0x22
35 = 0x23
36 = 0x24
37 = 0x25
38 = 0x26
39 = 0x27
40 = 0x28
41 = 0x29
42 = 0x2a
43 = 0x2b
44 = 0x2c
45 = 0x2d
46 = 0x2e
47 = 0x2f
48 = 0x30
49 = 0x31
50 = 0x32
51 = 0x33
52 = 0x34
53 = 0x35
54 = 0x36
55 = 0x37
56 = 0x38
57 = 0x39
58 = 0x3a
59 = 0x3b
60 = 0x3c
61 = 0x3d
62 = 0x3e
63 = 0x3f
64 = 0x40
65 = 0x41
66 = 0x42
67 = 0x43
68 = 0x44
69 = 0x45
70 = 0x46
71 = 0x47
72 = 0x48
73 = 0x49
74 = 0x4a
75 = 0x4b
76 = 0x4c
77 = 0x4d
78 = 0x4e
79 = 0x4f
80 = 0x50
81 = 0x51
82 = 0x52
83 = 0x53
84 = 0x54
85 = 0x55
86 = 0x56
87 = 0x57
88 = 0x58
89 = 0x59
90 = 0x5a
91 = 0x5b
92 = 0x5c
93 = 0x5d
94 = 0x5e
95 = 0x5f
96 = 0x60
97 = 0x61
98 = 0x62

In [ ]:
for count in range(0,100):
  if count != 99:
    print("{}".format(str(count).zfill(2)) ,end=", ")
  else:
    print ("{}".format(count))

00, 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99

In [ ]:
for a in range(0,10):
  for b in range(1,10):
    if a == b:
      continue
    elif b < a:
      continue
    elif a == 8 and b == 9:
      print("{}{}".format(a, b))
    else:
      print("{}{}".format(a, b), end = ", ")

01, 02, 03, 04, 05, 06, 07, 08, 09, 12, 13, 14, 15, 16, 17, 18, 19, 23, 24, 25, 26, 27, 28, 29, 34, 35, 36, 37, 38, 39, 45, 46, 47, 48, 49, 56, 57, 58, 59, 67, 68, 69, 78, 79, 89

In [ ]:
def islower(c):
  middler = ord(c)
  if middler <= 97 and middler >= 122:
    return True
  else:
    return False

In [4]:
def uppercase(str):
    for place in str:
        place = ord(place)
        if 97 <= place <= 122:
            place = place - 32
        print("{}".format(chr(place)), end='')
    print()

In [ ]:
def print_last_digit(number):
    if number < 0:
        lastDigit = (number * -1) % 10
    else:
        lastDigit = number % 10
    print(lastDigit, end="")
    return lastDigit

In [ ]:
def add(a, b):
  addValue = a + b
  return addValue

In [ ]:
def pow(a, b):
  powerValue = a ** b
  return powerValue

In [ ]:
def fizzbuzz():
    for count in range(1, 101):
        if count % 3 == 0 and count % 5 != 0:
            print("Fizz ", end="")
        elif count % 5 == 0 and count % 3 != 0:
            print("Buzz ", end="")
        elif count % 5 == 0 and count % 3 == 0:
            print("FizzBuzz ", end="")
        elif count == 100:
            print("{}".format(count))
        else:
            print("{} ".format(count), end="")

In [ ]:
for count in range(65, 123, -1):
  if count % 2 == 0:
    print("{}".format(chr(count)))

In [6]:
for a in range(122, 96, -1):
    if a % 2 == 1:
        a -= 32
    print("{:c}".format(a), end="")

zYxWvUtSrQpOnMlKjIhGfEdCbA

In [7]:
def remove_char_at(str, n):
    if n >= 0:
        return (str[:n] + str[n + 1:])
    else:
        return (str)