<a href="https://colab.research.google.com/github/MegaChie/alx-higher_level_programming/blob/main/0x04-python-more_data_structures/Notebook/0x04_Python_More_Data_Structures_Set%2C_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def square_matrix_simple(matrix=[]):
    if len(matrix) == 0:
        print()
    return [[item**2 for item in row] for row in matrix]

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
square_matrix_simple(matrix)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [ ]:
def search_replace(my_list, search, replace):
    return [find if find != search else replace for find in my_list]

In [ ]:
my_list = [1, 2, 3, 4, 5, 4, 2, 1, 1, 4, 89]
search_replace(my_list, 2, 89)
my_list

[1, 89, 3, 4, 5, 4, 89, 1, 1, 4, 89]

In [ ]:
def uniq_add(my_list=[]):
    backup = list()
    addup = 0
    for place in my_list:
        if place not in backup:
            backup.append(place)
        else:
            continue
    for holder in backup:
        addup += holder
    return addup

In [ ]:
alist = [1, 2, 3, 1, 4, 2, 5]
uniq_add(alist)

25

In [86]:
def common_elements(set_1, set_2):
    copy = list()
    for place in set_1:
        if place in set_2:
            copy.append(place)
        else:
            continue
    return copy

In [87]:
set_1 = { "Python", "C", "Javascript" }
set_2 = { "Bash", "C", "Javascript", "Perl" }
common_elements(set_2, set_1)

['Javascript', 'C']

In [76]:
def only_diff_elements(set_1, set_2):
    merger = list()
    differ = list()
    for place in set_1:
        merger.append(place)
    for place in set_2:
        merger.append(place)
    for place in merger:
        if place in set_1 and place in set_2:
            continue
        else:
            differ.append(place)
    return differ

In [77]:
set_1 = { "Python", "C", "Javascript" }
set_2 = { "Bash", "C", "Ruby", "Perl" }
only_diff_elements(set_1, set_2)

['Javascript', 'Python', 'Bash', 'Perl', 'Ruby']

In [90]:
def number_keys(a_dictionary):
    print(len(a_dictionary))

In [91]:
a_dictionary = { 'language': "C", 'number': 13, 'track': "Low level" }
number_keys(a_dictionary)

3

In [98]:
def print_sorted_dictionary(a_dictionary):
    for key, value in sorted(a_dictionary.items(), key=lambda x: x[0]): 
        print("{} : {}".format(key, value))

In [99]:
a_dictionary = { 'language': "C", 'Number': 89, 'track': "Low level", 'ids': [1, 2, 3] }
print_sorted_dictionary(a_dictionary)

Number : 89
ids : [1, 2, 3]
language : C
track : Low level

In [ ]:
def update_dictionary(a_dictionary, key, value):
    a_dictionary[key] = value
    return a_dictionary

In [114]:
def simple_delete(a_dictionary, key=""):
    if key in a_dictionary:
        del a_dictionary[key]
    return a_dictionary

In [115]:
a_dictionary = { 'language': "C", 'Number': 89, 'track': "Low", 'ids': [1, 2, 3] }
simple_delete(a_dictionary, 'track')

{'language': 'C', 'Number': 89, 'ids': [1, 2, 3]}

In [120]:
def multiply_by_2(a_dictionary):
    temp = dict(a_dictionary)
    for key, value in temp.items():
        temp[key] = value * 2
    return temp

In [121]:
a_dictionary = {'John': 12, 'Alex': 8, 'Bob': 14, 'Mike': 14, 'Molly': 16}
multiply_by_2(a_dictionary)

{'John': 24, 'Alex': 16, 'Bob': 28, 'Mike': 28, 'Molly': 32}

In [127]:
def best_score(a_dictionary):
    if not a_dictionary:
        return None
    biggest = 0
    for key, value in a_dictionary.items():
        if value > biggest:
            biggest = value
    for key, value in a_dictionary.items():
        if value == biggest:
            return key

In [128]:
a_dictionary = {'John': 12, 'Bob': 14, 'Mike': 14, 'Molly': 16, 'Adam': 10}
best_score(a_dictionary)

'Molly'

In [133]:
def mutiply_list_map(my_list=[], number=0):
    return (map(lambda item: item * number, my_list))

In [134]:
my_list = [1, 2, 3, 4, 6]
multiply_list_map(my_list, 4)

[4, 8, 12, 16, 24]

In [136]:
def weight_average(my_list=[]):
    if not my_list:
        return 0
    res = 0.0
    s_list = list(t[0] * t[1] for t in my_list)
    w_list = list(t[1] for t in my_list)
    res = sum(s_list) / sum(w_list)
    return res

In [137]:
my_list = [(1, 2), (2, 1), (3, 10), (4, 2)]
weight_average(my_list)

2.8

In [ ]:
def mutiply_list_map(my_list=[], number=0):
    return (map(lambda item: item * number, my_list))

In [135]:
def complex_delete(a_dictionary, value):
    for idx in list(a_dictionary.keys()):
        if a_dictionary[idx] == value:
            del a_dictionary[idx]
    return a_dictionary