<a href="https://colab.research.google.com/github/MegaChie/alx-higher_level_programming/blob/main/0x03-python-data_structures/Notebook/0x03_Python_Data_Structures_Lists%2C_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_list_integer(my_list=[]):
    for count in my_list:
        print("{:d}".format(count))

[2, 3]

In [ ]:
def element_at(my_list, idx):
    count = int(idx)
    if count < 0:
        return None
    elif count >= len(my_list):
        return None
    else:
        return my_list[count]

In [ ]:
alist = [1,2,3,4]
element_at(alist, 1)

2

In [ ]:
def replace_in_list(my_list, idx, element):
    if idx < 0:
        return my_list
    if idx >= len(my_list):
        return my_list
    else:
        my_list[idx] = element
        return my_list

In [ ]:
alist = [1,2,3,4]
print(alist)
replace_in_list(alist, 3, 7)

[1, 2, 3, 4]
[1, 2, 3, 7]

In [ ]:
def print_reversed_list_integer(my_list=[]):
    place = len(my_list) - 1
    while place > -1:
        print("{}".format(my_list[place]))
        place -= 1

In [ ]:
alist = [1,2,3,4,5,6,7,8,9,0]
print_reversed_list_integer(alist)

0
9
8
7
6
5
4
3
2
1

In [ ]:
def new_in_list(my_list, idx, element):
    if idx < 0:
        return my_list
    elif idx >= len(my_list):
        return my_list
    listCopy = list(my_list)
    listCopy[idx] = element
    return listCopy

In [ ]:
def no_c(my_string):
    holder = list(my_string)
    place = 0
    for count in holder:
        if count == 'c' or count == 'C':
            holder[place] = ""
            place += 1
    return "".join(holder)

In [ ]:
stringA = "C is fun!"
stringB = "Chicago"
stringC = "Best School"
# no_c(stringA)
no_c(stringB)
# no_c(stringC)

'icago'

In [ ]:
#!/usr/bin/python3
def print_matrix_integer(matrix=[[]]):
    if not matrix:
        print()
    else:
        for raw in range(len(matrix)):
            for collumn in range(len(matrix[raw])):
                if collumn != len(matrix[raw]) - 1:
                    space = ' '
                else:
                    space = ''
                print("{:d}".format(matrix[raw][collumn]), end=space)
            print()

In [ ]:
mymatrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print_matrix_integer(matrix)

1 2 3
4 5 6
7 8 9

In [ ]:
def add_tuple(tuple_a=(), tuple_b=()):
    if len(tuple_a) > 2:
        tuple_a = tuple_a[:2]
    elif len(tuple_a) == 1:
        tuple_a += (0,)
    elif len(tuple_a) == 0:
        tuple_a += (0, 0)
    if len(tuple_b) > 2:
        tuple_b = tuple_b[:2]
    elif len(tuple_b) == 1:
        tuple_b += (0,)
    elif len(tuple_b) == 0:
        tuple_b += (0, 0)
    result = tuple(map(lambda i, j: i + j, tuple_a, tuple_b))
    return result

In [ ]:
# or this
result = tuple(map(sum, zip(tuple_a, tuple_b)))

In [ ]:
tuple_a = (1, 89)
tuple_b = (88, 11)
add_tuple(tuple_a, tuple_b)

In [ ]:
def multiple_returns(sentence):
    if not sentence:
        sentence = None
    if sentence:
        sen_len = len(sentence)
    else:
        sen_len = 0
    return (sen_len, sentence if not sentence else sentence[:1])

In [ ]:
sentence = "At school, I learnt C!"
multiple_returns(sentence)

(22, 'A')

In [ ]:
def max_integer(my_list=[]):
    count = 0
    if len(my_list) == 0:
        return None
    else:
        my_list.sort()
        return my_list[-1]

In [ ]:
my_list = [1, 90, 2, 13, 374, 5, -13, 3]
max_integer(my_list)

374

In [62]:
def divisible_by_2(my_list=[]):
    divList = []
    for place in my_list:
        if place % 2 == 0:
            divList.append(True)
        else:
            divList.append(False)
    return divList

In [63]:
my_list = [0, 1, 2, 3, 4, 5, 6]
divisible_by_2(my_list)

[True, False, True, False, True, False, True]

In [64]:
def delete_at(my_list=[], idx=0):
    if idx >= len(my_list):
        return my_list
    elif idx < 0:
        return my_list
    else:
        del my_list[idx]

In [66]:
my_list = [1, 2, 3, 4, 5]
idx = 3
print(my_list)
delete_at(my_list, idx)
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [67]:
a = 89
b = 10
a ,b = b, a
print("a={:d} - b={:d}".format(a, b))

a=10 - b=89