<a href="https://colab.research.google.com/github/MegaChie/alx-higher_level_programming/blob/main/0x03-python-data_structures/Notebook/0x03_Python_Data_Structures_Lists%2C_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_list_integer(my_list=[]):
    count = 0
    while count < len(my_list):
        print("{}".format(my_list[count]))
        count += 1

[2, 3]

In [74]:
def element_at(my_list, idx):
    count = int(idx)
    if count < 0:
        return None
    elif count >= len(my_list):
        return None
    else:
        print("{}".format(my_list[count]))

In [75]:
alist = [1,2,3,4]
element_at(alist, 1)

2

In [76]:
def replace_in_list(my_list, idx, element):
    if idx < 0:
        return my_list
    if idx >= len(my_list):
        return my_list
    else:
        my_list[idx] = element
        print(my_list)

In [81]:
alist = [1,2,3,4]
print(alist)
replace_in_list(alist, 3, 7)

[1, 2, 3, 4]
[1, 2, 3, 7]

In [87]:
def print_reversed_list_integer(my_list=[]):
    place = len(my_list) - 1
    while place > -1:
        print("{}".format(my_list[place]))
        place -= 1

In [89]:
alist = [1,2,3,4,5,6,7,8,9,0]
print_reversed_list_integer(alist)

0
9
8
7
6
5
4
3
2
1